<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDBRealm" />
	</bean>

	<!-- 项目自定义的Realm -->
	<bean id="shiroDBRealm" class="com.xingxunlei.wechat.service.security.realm.ShiroDBRealm">
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.do" />
		<property name="successUrl" value="/home.do" />
		<property name="unauthorizedUrl" value="/login.do" />
		<property name="filters">
            <map>
                <!-- 扩展登录令牌过滤器 -->
                <entry key="user" value-ref="customUserFilter"/>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
            </map>
        </property>
		<property name="filterChainDefinitions">
			<value>
				/css/** = anon
				/images/** = anon
				/js/** = anon
				/login.do = anon
				/logout.do = anon
	            /common/validateCode.do = anon
	            / = anon
	            /** =user
		 	</value>
		</property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<bean id="customUserFilter" class="com.xingxunlei.wechat.filter.shiro.CustomUserFilter"/>
	<bean id="formAuthenticationFilter" class="com.xingxunlei.wechat.filter.shiro.authc.FormAuthenticationFilter"/>
	
</beans>